$primary: #02b3d7;
$secondary: #ffc436;

:root {
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
}

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@import "bootstrap/scss/bootstrap";


